@import '../../styles/variables';

$left-side-width: 320px;

.admin {
  &__header {
    background-color: $primary-theme-color1;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .sidemenu-close {
      left: 306px;
      top: 146px;
      width: 30px;
      height: 30px;
      background-color: $white-color;
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;
      transform: rotateY(0);
      transition: all 0.25s ease-in-out 0.025s;

      &:hover {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
      }

      span {
        position: relative;
        right: -1px;
        user-select: none;
      }

      &.shrinked {
        left: 10px;
        transform: rotateY(180deg) translateY(0);
      }

      @media (max-width: 1200px) {
        left: 10px;
        transform: rotateY(180deg) translateY(0);

        &:hover {
          box-shadow: none;
        }

        &.shrinked {
          left: calc($left-side-width - 15px);
          z-index: 25;
          transform: rotateY(180deg) translateY(0);
        }
      }

      @media (max-width: 760px) {
        transform: rotateY(180deg) translateY(-68px);

        &.shrinked {
          transform: rotateY(180deg) translateY(-68px);
        }
      }
    }

    button {
      width: 160px;
    }

    @media (max-width: 760px) {
      h2 {
        font-size: 1em;
      }

      button {
        width: 130px;
      }
    }
  }

  &__sidemenu {
    height: calc(100vh - $header-height);
    transform: translateX(0);
    transition: all 0.15s ease-in-out;

    &.shrinked {
      transform: translateX(-$left-side-width);
    }

    @media (max-width: 1200px) {
      transform: translateX(-$left-side-width);

      &.shrinked {
        background: $white-color;
        z-index: 20;
        transform: translateX(0);
      }
    }
  }

  &__save-button {
    top: 8px;
    height: 54px;

    button {
      width: 160px;
      height: 36px;
      z-index: 5;
    }

    .language {
      background-color: $green-color;
      color: $white-color;
      border-radius: $default-border-radius;
    }

    @media (max-width: 760px) {
      justify-content: flex-end;
      top: -10px;
      height: auto;
      padding: 16px;

      & > div {
        display: none;
      }

      button {
        margin-top: 16px;
      }
    }
  }

  &__tabs-wrapper {
    left: $left-side-width;
    width: calc(100% - $left-side-width);
    transform: translateX(0);
    transition: all 0.15s ease-in-out;

    &.shrinked {
      width: 100%;
      transform: translateX(-$left-side-width);
    }

    @media (max-width: 1200px) {
      width: 100%;
      transform: translateX(-$left-side-width);
    }

    @media (max-width: 760px) {
      &.shrinked {
        filter: blur(2px);
        pointer-events: none;
      }
    }
  }

  &__tabs {
    height: 58px;
    border-bottom: 1px solid $border-color-light;

    @media (max-width: 760px) {
      align-items: flex-end;
      justify-content: flex-end;
      height: auto;
      padding: 8px 16px;
    }
  }

  &__tab-item {
    top: 4px;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: $green-color;
    }

    &.active {
      color: $green-color;
      border-bottom: 4px solid $green-color;
    }

    @media (max-width: 760px) {
      padding: 0;
      padding-bottom: 8px;
      margin-left: 12px;
      border-bottom: none;

      & > span:first-child {
        display: none;
      }

      &.active {
        border-bottom: none;
      }
    }
  }
}

.modal {
  top: 0;
  left: 0;
  pointer-events: none;
}

.notification {
  bottom: 0;
  pointer-events: none;
}
