@import '../../../../styles/variables';

.modal {
  &__wrapper {
    visibility: hidden;
    background-color: rgb(49 49 49 / 78%);
    pointer-events: auto;
    opacity: 0;
    z-index: 60;
    transition: all 0.15s ease-in-out;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__inner {
    width: 400px;
    background-color: $white-color;
    border-radius: $default-border-radius;
    box-shadow: 0px 10px 45px 10px rgba(0, 0, 0, 0.55);

    .warning {
      font-size: 48px;
      color: $primary-theme-color1;
    }

    h4 {
      color: $primary-theme-color1;
    }
  }

  &__message {
    .item {
      color: $primary-theme-color1;
    }
  }

  &__actions {
    button {
      width: 120px;
    }
  }
}
