.button {
  padding: 8px;
  border-radius: $default-border-radius;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;

    span:last-child {
      margin-left: 8px;
      font-size: 20px;
    }
  }

  &--primary {
    background-color: $primary-button-color;
    color: $secondary-text-color;
  }

  &:hover {
    filter: brightness(1.5);
  }
}

.input {
  padding: 8px;
  border: 1px solid $border-color-light;
  border-radius: $default-border-radius;
}

.textarea {
  border: 1px solid $border-color-light;
  border-radius: $default-border-radius;
  padding: 4px 8px;
  font-family: inherit;
}
