$primary-theme-color1: #fdd835;
$primary-theme-color2: #f9a825;
$primary-theme-color3: #f57f17;
$secondary-theme-color1: #43a047;
$secondary-theme-color2: #1b5e20;

$primary-text-color: #474747;
$secondary-text-color: #fff;

$border-color-light: #c9c9c9;
$border-color-dark: #333;

$primary-button-color: #474b48;

$default-border-radius: 4px;
