$primary-theme-color1: #fdd835;
$primary-theme-color2: #f9a825;
$primary-theme-color3: #f5f5f5;
$secondary-theme-color1: #43a047;
$secondary-theme-color2: #1b5e20;
$white-color: #fff;
$red-color: #e64a19;
$green-color: #388e3c;
$blue-color: #1976d2;

$primary-text-color: #474747;
$secondary-text-color: #fff;

$border-color-light: #c9c9c9;
$border-color-dark: #333;

$primary-button-color: #474b48;
$secondary-button-color: #1976d2;

$default-border-radius: 4px;
$default-transition: all 0.2s ease-in-out;
$header-height: 68px;
