@import '../../../../styles/variables';

$video-height: 200px;

.video-item {
  &__wrapper {
    background-color: $primary-theme-color3;
    border-radius: $default-border-radius;
    border-left: 4px solid $primary-theme-color1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -4px;
      height: calc(150px + $video-height);
      border-left: 4px solid $blue-color;
      border-top-left-radius: $default-border-radius;
    }
  }

  &__url {
    small.error-text {
      top: 68px;
      background-color: $primary-theme-color3;
      color: $red-color;
    }
  }

  &__actions {
    top: 2px;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      width: 100px;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &__preview {
    border-bottom: 1px solid $border-color-light;

    &.new-video {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    .no-preview {
      height: calc($video-height - 16px);
      border: 1px solid $border-color-light;
      border-radius: $default-border-radius;

      .no-video {
        font-size: 40px;
      }
    }

    iframe {
      width: 100%;
      height: calc($video-height - 22px);
      border-radius: $default-border-radius;
    }
  }
}
