@import '../../../styles/variables';

.articles {
  &__wrapper {
    border-top: 1px solid $border-color-light;
  }

  &__add-button {
    button.add {
      right: 168px;
      bottom: 18px;
      width: 160px;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &__no-articles {
    height: calc(100vh - 232px);

    .no-article {
      font-size: 60px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
    align-content: start;
    grid-gap: 20px;
    height: calc(100vh - 197px);
    padding-top: 18px;
    overflow-y: auto;

    .list-item {
      transition: $default-transition;

      &.disabled {
        filter: blur(1px);
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
