@import '../../../styles/variables';

.content {
  &__wrapper {
    padding-right: 0;

    .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      grid-gap: 20px;
      max-height: calc(100vh - 184px);
      padding-top: 18px;
      overflow: auto;

      .navigation-section {
        grid-column: span 2;
      }
    }
  }

  &__section {
    background-color: $primary-theme-color3;
    border-radius: $default-border-radius;
    border-left: 4px solid $primary-theme-color1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    @media (max-width: 1200px) {
      grid-column: span 2;
    }

    .navigation {
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  &__item {
    &.navigation-item {
      flex: 1 1 18%;
    }

    textarea {
      resize: none;
    }
  }
}

@media (max-width: 1200px) {
  .content__section {
    grid-column: span 2;
  }
}
