@import '../../../styles/variables';

.content {
  &__wrapper {
    .inner {
      height: calc(100vh - 232px);
      overflow: auto;
      scroll-snap-type: y mandatory;
    }
  }

  &__section {
    background-color: $primary-theme-color3;
    border-radius: $default-border-radius;
    border-left: 4px solid $primary-theme-color1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    scroll-snap-align: start;

    .navigation {
      gap: 16px;
    }
  }

  &__item {
    &.navigation-item {
      width: 50%;
    }

    textarea {
      resize: none;
    }
  }
}
