@import '../../../styles/variables';

$container-width: 320px;

.dropdown {
  &__wrapper {
    width: $container-width;
    border-right: 1px solid $border-color-light;
  }

  &__header {
    border: 1px solid $border-color-light;
    border-radius: $default-border-radius;
    background-color: $white-color;
    cursor: pointer;

    .dropdown-arrow {
      margin-left: 8px;
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;

      &.open {
        transform: rotate(0);
      }
    }
  }

  &__search {
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
  }

  &__list {
    left: 16px;
    right: 0;
    width: calc(100% - 32px);
    max-height: 270px;
    background-color: $white-color;
    border: 1px solid $border-color-light;
    border-top: none;
    border-radius: $default-border-radius;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 10;
  }

  &__item {
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__loader {
    width: $container-width;

    img {
      width: 80px;
      height: 80px;
    }
  }
}

.selected-languages {
  &__list {
    transition: all 0.15s ease-in-out;

    &.blured {
      pointer-events: none;
      opacity: 0.5;
      filter: blur(2px);
    }
  }

  &__item {
    border: 2px solid transparent;
    border-radius: $default-border-radius;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
    }

    &.selected {
      border: 2px solid $border-color-dark;
    }

    .delete-icon {
      color: $red-color;
      z-index: 5;
      transition: all 0.1s ease-in-out;

      &:hover {
        filter: brightness(0.75);
        transform: scale(0.95);
      }
    }

    .default-icon {
      color: $blue-color;
      z-index: 5;
    }
  }
}
