@import '../../../styles/variables';

$container-width: 320px;

.dropdown {
  &__wrapper {
    width: $container-width;
    border-right: 1px solid $border-color-light;
  }

  &__header {
    border: 1px solid $border-color-light;
    border-radius: $default-border-radius;
    background-color: $white-color;
    cursor: pointer;

    .dropdown-arrow {
      margin-left: 8px;
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;

      &.open {
        transform: rotate(0);
      }
    }
  }

  &__search {
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
  }

  &__list {
    left: 16px;
    right: 0;
    width: calc(100% - 32px);
    max-height: 270px;
    background-color: $white-color;
    border: 1px solid $border-color-light;
    border-top: none;
    border-radius: $default-border-radius;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 10;
  }

  &__item {
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__loader {
    width: $container-width;

    img {
      width: 80px;
      height: 80px;
    }
  }
}
